.round{
    width:50%;
    height:150px;
    margin:0 auto;
  
}

.movieParams{
    margin-top:10px;
}
.round img{
    width:100%;
    height:inherit;
    border-radius:50%;
}

.movieParams div {
    padding:10px;
}

li{
    list-style:none;
}