movie {

}

.section{
    margin-top:20px;
    cursor:pointer;
}

.movieDtls label {
    font-weight: 500;
}

.movieDtls > div {
    padding: 5px;
}

movie ul{
    display:flex;
    flex-flow: row wrap;
    padding:0;
    justify-content: center;
}

movie li{
    cursor: pointer;
    padding:10px;
    text-align: center;
   list-style: none;
   width: 30%;  /* Or whatever */
  height: 10%; /* Or whatever */

}
