

<!-- Generated template for the MovieComponent component -->

<!-- <app-movie-section>

</app-movie-section> -->
<div *ngFor="let key of movieSections | keys">
  <div class="section" id="{{key}}" (click) = "toggleSection($event)">
    {{sections[key]}}<ion-icon *ngIf="topRated" name="arrow-up"></ion-icon>
    <ion-icon *ngIf="!topRated" name="arrow-down"></ion-icon>
  </div>
  
  <ul *ngIf="topRated">
    <li id="movie" *ngFor = 'let movie of movieSections[key];' (click) = 'openMovieDtls($event,movie)'>
      <span><img src="{{movie.imagePath}} " alt=""></span>
      <span class="title">{{movie.title}}</span> <span class="rating">({{movie.vote_average}})</span> 
    </li>
  </ul>
  
  <div *ngIf="movieSections[key]?.length < 1">
    <p>No results found :(</p>
  </div>
</div>

    

